<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @project.type %>
</p>

<p>
  <strong>Budget hours:</strong>
  <%= @project.budget_hours %>
</p>

<p>
  <strong>Billed upto previous month:</strong>
  <%= @project.billed_upto_previous_month %>
</p>

<p>
  <strong>Billable for the month:</strong>
  <%= @project.billable_for_the_month %>
</p>

<p>
  <strong>Redmine upto month:</strong>
  <%= @project.redmine_upto_month %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @project.remarks %>
</p>

<p>
  <strong>Wsr link:</strong>
  <%= @project.wsr_link %>
</p>

<p>
  <strong>Redmine link:</strong>
  <%= @project.redmine_link %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
